.body {
  background-color: #3B3E44;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #E9B898;
  min-height: 100vh;
}

.container-home {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(84, 85, 90);
  min-height: 100vh;
}

.post-body {
  text-align: center;
  margin: 50px;
}

a {
  color: #A2D729;
}
