form {
    width: 900px;
    height: 100vh;
    box-shadow: 1px 1px 9px 1px #d4d4d4eb;
    background-color: #3b3e44;
    padding: 71px 60px;
    margin: auto;
    margin-top: 43px;
    color: grey;
}
.new-form input#post_name {
  width: 500px;
 }

button, input {
  color: white;
}

